practicaXML/xml-resources/jaxb/jaxbBIND/LibrosEsquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Libros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Libro" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Titulo" type="xs:string"/>
              <xs:element name="Autor" type="xs:string"/>
              <xs:element name="isbn" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="publicado_en" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>